body{
    background-color: rgba(120, 75, 192, 0.685);
}
#marquee {
    width: auto;
    height: auto;
    background-color: coral;
    font-size: large;
    align-content: center;
}

#logo {
    float: right;
    margin-top: -63px;
    margin-right: 2px;
    width: 40px;
}
.tasksForAdmin{
    /* display: none; */
    border: 1px solid green;
    visibility:visible;
    background-color: rgb(223, 189, 128);
    margin-left:140px;
    width: 75%;
}
.addCourse {
    margin-top:10px ;
    margin-left: 10px;
    margin-bottom: 10px;
}
.close{
  font-size: 2em;
  cursor: pointer;
  top: -20px;
  right: 10px;
  position: absolute;
}

.contentCourse{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

#spanNameCourse {
    margin-left: 300px;
}
#idCourse{
    margin-left:60px;
}
.pre{
    margin-left: -32px;
}
.pre > span{
    margin-left: 15px;
    font-size: 15px;

}
#contentDesc{
   
}
.timer{
    position: fixed;;
    margin-left:50% ;
margin-top: -20%;
}



