body{
  background-color: #f0f2f2 ;
}
.plus{
  font-size: 24px;
    font-size: 45px;
  position: fixed;
  font-size: 35px;
      border-radius: 112%;
    cursor: pointer;
  color: rgb(78, 78, 223);
  margin-left:96%;
}
.plus:hover{
  color: rgb(5, 5, 129);
}

.courses{
  
    width: 80%;
    margin: auto;

}
.title{
  text-align: center;
}

.curses1 {
  width: 20% ;
    height: 30%;
    background-color: #ffffff;
    margin: 10px;
    float: left;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 25px;
  
}
.curses1:hover{
  transform: scale(1.05);

}
.show{
  margin-top: 30%;
  margin-left: 45%;
}
