.imgProfile{
	width: 200px;
	margin-top: 20px;
}
.Trainer_info{
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #959595;
	padding: 2%;
}
button{
	border-style: none;
}
.guide{
    margin-left: 2%;  
}
.savebtn{
	text-align: center;
	margin-top: 20px;
	background-color: green;
	margin-left: 33%;
	height: 38px;
	width: 62px;
	border-radius: 10px
}
.Canclebtn{
	text-align: center;
	background-color: gray;
	height: 38px;
	width: 62px;
	border-radius: 10px
}
​
label{
	margin-top: 20px;
	margin-left: 2%;
}
h3{
	margin-left: 2%;
}
input{
	/* margin-top: 20px;*/
	margin-bottom: 12px;
	margin-left: 2%;
	width: 85%;
	outline: none;
	height: 20px;
}
textarea{
	/*  margin-top: 20px;*/
	margin-bottom: 12px;
	margin-left: 2%;
	font: 14px;
	width: 85%;
	height: 80px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: rgb(184, 35, 35);
}
.active {
	background-color: #4CAF50;
}
