body{
    background-color: #f0f2f2 ;
}
a{
  color: black;
}
.addAcountIcon{
 /* float:right;*/
 margin-left:1000px;
border-style: none;
  width: 50px;
  height: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: gray;
  }
  
  .active {
    background-color: #4CAF50;
  }
.container{
    width: 80%;
    margin: auto;
}
.form{
    width: 30% ;
    height: 30%;
    background-color: #ffffff;
    margin: 15 0 0 15;
    float: left;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.6s;

}
.form:hover{
    transform: scale(1.05);

}

img{
    width: 100%;
    margin: 10 0 0 10;
    border: #ffffff 3px solid;
    border-radius: 50%;
}
.im{
    width: 30%;
    float: left;
}
.contnt{
    width: 60%;
    height: 100%;
    background-color: #ffffff;
    float: right;
    font-family: inherit;
    border-radius: 10%;

}